v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Payment {{ model.id? 'edit' : 'create' }}
  v-btn(type='submit') submit
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model')
      v-flex(sm4 xs12)
        v-text-field(label='Сумма' v-model='model.amount' type='number'
          name='amount' v-validate='"required"' :error-messages='errors.collect("amount")')

      v-flex(sm4 xs12)
        v-select(label='Валюта' v-model='model.currencyCode' :items='currencyList' item-text='name' item-value='id'
          name='currencyCode' v-validate='"required"' :error-messages='errors.collect("currencyCode")')

      v-flex(sm4 xs12)
        v-select(v-if='!model.id' label='Сервис оплаты' v-model='model.paymentService' autocomplete
          :items='paymentServiceList' item-text='name' item-value='id' return-object
          name='paymentService' v-validate='"required"' :error-messages='errors.collect("paymentService")')

      v-flex(sm6 xs12)
        v-select(label='Состояние' v-model='model.state' :items='stateList' item-text='name' item-value='id'
          name='state' v-validate='"required"' :error-messages='errors.collect("state")')

      v-flex(sm6 xs12)
        v-select(v-if='!model.id' label='Заказ' v-model='model.order' autocomplete
          :items='orderList' item-text='id' item-value='id' return-object
          name='order' v-validate='"required"' :error-messages='errors.collect("order")')

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear
