v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 City {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model')
      v-flex(sm6 xs12)
        v-text-field(label='English name' v-model='model.nameEng' name='nameEng'
          v-validate='"required|max:50"' :error-messages='errors.collect("nameEng")')

      v-flex.mb-5(sm6 xs12)
        v-text-field(label='Название' v-model='model.name' name='name'
          v-validate='"required|max:80"' :error-messages='errors.collect("name")')

      v-flex(sm4 xs12)
        v-text-field(label='Родительный падеж' v-model='model.nameGenitive' name='nameGenitive'
          v-validate='"required|max:80"' :error-messages='errors.collect("nameGenitive")')

      v-flex(sm4 xs12)
        v-text-field(label='Дательный падеж' v-model='model.nameDative' name='nameDative'
          v-validate='"required|max:80"' :error-messages='errors.collect("nameDative")')

      v-flex(sm4 xs12)
        v-text-field(label='Винительный падеж' v-model='model.nameAccusative' name='nameAccusative'
          v-validate='"required|max:80"' :error-messages='errors.collect("nameAccusative")')

      v-flex(sm4 xs12)
        v-text-field(label='Творительный падеж' v-model='model.nameInstrumental' name='nameInstrumental'
          v-validate='"required|max:80"' :error-messages='errors.collect("nameInstrumental")')

      v-flex(sm4 xs12)
        v-text-field(label='Предложный падеж' v-model='model.namePrepositional' name='namePrepositional'
          v-validate='"required|max:80"' :error-messages='errors.collect("namePrepositional")')

      v-flex(sm4 xs12)
        v-text-field(label='Популяция' v-model.number='model.population' name='population' type='number'
          v-validate='"required|numeric"' :error-messages='errors.collect("population")')


      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear
