v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Страницы на основе фильтра - {{ model.id? 'редактирование' : 'создание' }}
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model' align-center)
      v-flex(md6 xs12)
        v-text-field(label='Название' v-model='model.name'
          name='name' v-validate='"required|max:200"' :error-messages='errors.collect("name")')

      v-flex(md6 xs12)
        span URL: {{ model.url }}

      v-flex(sm6 xs12)
        v-select(label='Магазин' v-model='model.shop' autocomplete
          :items='shopList' item-text='name' item-value='id' return-object
          name='shop' v-validate='"required"' :error-messages='errors.collect("shop")')

      v-flex(sm6 xs12)
        v-select(label='Выбранные фильтры категорий' v-model='model.filters.categoryIdList'
          multiple autocomplete chips :items='categoryList' item-text='name' item-value='id'
          name='categoryList' v-validate='"required"' :error-messages='errors.collect("categoryList")')

      v-flex(xs12)
        h3.d-inline-block.mr-3 Фильтры по ключам и значениям
        v-btn(color='primary' fab small dark @click='addProp()')
          v-icon add

        v-layout(row wrap v-for='(kvItem, index) in model.filters.propertyKeyValueList' :key='"kv" + index'
          :class='index % 2 === 0? "grey lighten-3" : null')
          v-flex(xs5)
            v-select(label='Ключ' v-model='kvItem.key' autocomplete
              :items='keyList' @change='kvItem.valueList = []'
              :name='"key " + (index+1)' v-validate='"required"' :error-messages='errors.collect("key " + (index+1))')

          v-flex(xs5)
            v-select(label='Значения' v-model='kvItem.valueList' multiple autocomplete chips
              :items='valueList(kvItem.key)' item-text='name' item-value='value'
              :name='"valueList " + (index+1)' v-validate='"required"' :error-messages='errors.collect("valueList " + (index+1))')

          v-flex(xs2)
            v-btn(fab dark small color='red' @click='removeProp(index)')
              v-icon(dark) remove

      v-flex(sm4 xs10)
        v-select(label='Метатэги' v-model='model.seoMeta' autocomplete
          :items='seoMetaList' item-text='title' item-value='id' return-object
          name='seoMeta' v-validate='"required"' :error-messages='errors.collect("seoMeta")')

      v-flex(xs2)
        v-btn(color='primary' fab small dark @click='dialogSeoMeta = true')
          v-icon add

      v-flex(sm4 xs10)
        v-select(label='Элементы контента' v-model='model.seoTemplate' autocomplete
          :items='seoTemplateList' item-text='h1' item-value='id' return-object
          name='seoTemplate' v-validate='"required"' :error-messages='errors.collect("seoTemplate")')

      v-flex(xs2)
        v-btn(color='primary' fab small dark @click='dialogSeoTemplate = true')
          v-icon add

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear

  v-dialog(v-model='dialogSeoMeta' transition='dialog-bottom-transition')
    .bg__white
      r-seo-meta-edit(:id='0' :onSubmit='onSeoMetaSubmit')

  v-dialog(v-model='dialogSeoTemplate' transition='dialog-bottom-transition')
    .bg__white
      r-seo-template-edit(:id='0' :onSubmit='onSeoTemplateSubmit')

