v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Order {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-btn(type='submit') submit
    v-layout(row wrap v-if='model' align-center)
      v-flex(xs12 v-if='model.id')
        v-btn(@click='$router.push("/Delivery/"+ model.delivery.id +"/edit")') Доставка

      v-flex(sm6 xs12 text-xs-left)
        v-select(v-if='!model.id' label='Номер клиента' v-model='model.customer' autocomplete
          :items='customerList' item-text='phone' item-value='id' return-object
          name='customer' v-validate='"required"' :error-messages='errors.collect("customer")')
        p(v-if='model.id') Заказчик: {{ model.customer.nameFirst + ' ' + model.customer.nameLast + ' (' + model.customer.phone + ')' }}

      v-flex(sm6 xs12)
        v-select(label='Состояние' v-model='model.state' :items='stateList' item-text='name' item-value='id')

      v-flex(sm4 xs12)
        v-text-field(label='Стоимость' v-model='model.price' type='number'
          name='price' v-validate='"required"' :error-messages='errors.collect("price")')

      v-flex(sm4 xs12)
        v-text-field(label='Стоимость производства' v-model='model.manufacturingCost' type='number')

      v-flex(sm4 xs12)
        v-select(v-if='!model.id' label='Магазин' v-model='model.shop' autocomplete
          :items='shopList' item-text='name' item-value='id' return-object
          name='shop' v-validate='"required"' :error-messages='errors.collect("shop")')
        p(v-if='model.id') Магазин: {{ model.shop.name + ' (' + model.shop.host + ')' }}

      v-flex(xs12)
        h2.d-inline-block.mr-3 Товары
        v-btn(fab dark small color='primary' @click='addProduct()')
          v-icon(dark) add

      v-flex(xs12)
        v-layout.mb-3(row wrap v-for='(productItem, index) in model.productList' :key='index' :class='index % 2 === 0? "grey lighten-3" : null')
          v-flex(sm3 xs12)
            v-text-field(label='Кол-во' v-model.number='productItem.count' type='number'
              :name='"count-" + (index + 1)' v-validate='"required|min_value:1"' :error-messages='errors.collect("count-" + (index + 1))')

          v-flex(sm7 xs12)
            v-select(label='Продукт' v-model='productItem.product' autocomplete @change='onSelectProduct(productItem, $event)'
              :items='productList' item-text='name' item-value='id' return-object
              :name='"product-" + (index + 1)' v-validate='"required"' :error-messages='errors.collect("product-" + (index + 1))')

          v-flex(sm2 xs12)
            v-btn(fab dark small color='red' @click='removeProduct(productItem)')
              v-icon(dark) remove

          template(v-if='productItem.config && productItem.product.manufacture'
            v-for='(configItem, index2) in productItem.config' )
            v-flex(lg4 md6 xs12 :key='configItem.key')
              v-layout(row wrap align-baseline)
                v-flex(sm4 xs12)
                  span {{ configItem.name }}
                v-flex(sm8 xs12)
                  v-select(v-if='productItem.product.manufacture.schema[index2].type !== 4'
                    label='Значение' v-model='configItem.value' autocomplete @blur='update()' :clearable='!productItem.product.manufacture.schema[index2].isRequired'
                    :items='makeSchemaValueList(productItem.product.manufacture.schema[index2])' item-text='name' item-value='value'
                    v-validate='productItem.product.manufacture.schema[index2].isRequired ? "required": ""'
                    :name='"сonfig_value-" + (index + 1) + "-" + (index2 + 1)' :error-messages='errors.collect("сonfig_value-" + (index + 1) + "-" + (index2 + 1))')

                  v-text-field(v-if='productItem.product.manufacture.schema[index2].type === 4' label='Значение' v-model='configItem.value'
                    v-validate='productItem.product.manufacture.schema[index2].isRequired ? "required": ""'
                    :name='"сonfig_value-" + (index + 1) + "-" + (index2 + 1)'  :error-messages='errors.collect("сonfig_value-" + (index + 1) + "-" + (index2 + 1))')



      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear
